html {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/IndexBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fan-container,
.led-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.fan-image,
.led-image,
.device-image {
    max-width: 100%;
    height: auto;
}

.settings-card,
.device-card {
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: #333;
    color: #fff;
}

.back-link {
    margin-left: 10px;
}

.device-card {
    margin: 10px auto;
    max-width: 18rem;
    width: 100%;
    /* Adjusted max-width to fit the card content */
}

.device-image {
    border-radius: 5px 5px 0 0;
    /* Rounded top corners */
}

.gray-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the last value for transparency */
    z-index: 1;
    /* Ensure the overlay is on top of the content */
}

/* Adjust the style for the card to make it visually stand out */ 
/* .card.device-card {
    position: relative;
    /* Make it a positioned container for the overlay */
    /* z-index: 2; */
    /* Ensure the card content is on top of the overlay */
    /* pointer-events: none; */
    /* Allow click-through to the elements beneath the overlay */
    /* Ensure the card content is on top of the overlay */
